@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root{
    --bg-color: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
    --snd-bf-color: linear-gradient(to left, rgb(255, 255, 255), rgb(254, 215, 173));
    --text-color: black;
    --main-color: rgb(109, 67, 0);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

span{
    color: var(--main-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    text-shadow: 0 0 10px rgb(109, 67, 0);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: transform 0.3s ease;
}
.navbar a:hover{
    color: var(--main-color);
    transform: scale(1.1);
}
.navbar a.active{
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h1 span{
    font-weight: 800;
}
.home-content h3{
    margin-bottom: 2rem;
    font-size: 2.6rem;
}
.profile-pic img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    align-items: center;
}

.social-media a:hover{
    background: var(--main-color);
    color: white;
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: transform .2s ease;
}
.btn:hover {
    transform: scale(1.03);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    background: var(--snd-bf-color);
}

.about-img img{
    width: 35vw;
    border-radius: 50%;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
}

.about-content h3{
    font-size: 2.6rem;
    margin-top: 10px;
    color: var(--main-color);
}

.about-content p{
    margin-top: 15px;
    font-size: 1.6rem;
}
.read-more-content{
    display: none;
}
.read-more-content--show{
    display: inline;
    color: var(--text-color);
}

.read-more-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: transform .2s ease;
    margin-top: 20px;
    cursor: pointer;
}
.read-more-btn:hover {
    transform: scale(1.03);
}

.skill h2{
    margin-bottom: 5rem;
    font-size: 3.2rem;
    text-align: center;
}

.skills-tools{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.skills-tools-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.skills-tools-box{
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-tools-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-tools-box i{
    font-size: 3rem;
    color: var(--main-color);
}

.skills-tools-box h3{
    font-size: 2.6rem;
}

.skills-tools-box p{
    font-size: 1.5rem;
    margin: 1rem 0 1rem;
}
.skills-tools-box .read-more-content{
    font-size: 1.5rem;
}

.skills-tools-container .read-more-btn{
    margin-top: 2px;
}

.projects{
    background-color: var(--snd-bf-color);
}

.projects h2{
    margin-bottom: 5rem;
    font-size: 5rem;
    text-align: center;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    align-items: center;
    gap: 3rem;
}

.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img{
    width: 100%;
    transition: .3s ease;
    opacity: 0.7;
}

.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: .3s ease;
    color: rgba(255, 255, 255, 0.9);
}

.project-box:hover .project-layer{
    transform: scale(1.1);
}
.project-layer h3{
    font-size: 2.5rem;
    margin: .3rem 0 1rem;

}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i{
    font-size: 2rem;
    color: white;
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--snd-bf-color);
    /* min-height: 100vh; */
}
.contact h2{
    margin-bottom: 3rem;
    font-size: 5rem;
    text-align: center;
}

.contact h2 span{
    color: black;
}

.contact form{
    text-align: center;
    width: 600px;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 48.5%;
}

.field .item{
    width: 100%;
    padding: 14px;
    background: rgba(255, 231, 204, 0.989);
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px 0;
    color: black;
}

.error-txt{
    font-size: 14px;
    text-align: left;
    margin: -6px 0 10px;
    color: red;
    display: none;
}

.text-area .item{
    resize: none;
}
/* .contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    margin: .7rem 0;
    padding-left: 1rem;
}

.contact form .input-box input{
    width: 49%;
    height: 5rem;
}

.contact form textarea{
    resize: none;
    padding-top: 1rem;
} */

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .btn:hover{
    transform: scale(1.01);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgba(255, 231, 204, 0.989);
    border: 2px solid;
    border-color: var(--main-color);
}


.footer-text{
    font-size: 1.6rem;
}

.footer-mail{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    gap: 1rem;
}
.mail-icon{
    color: var(--main-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .3s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: white;
}

/* BREAKPOINT */



